p{
    @include textos ($fontSm,1.5em,$keyColor)
}


h1{

    font-size: $fontLg;
    color: $keyColor;
}


h2  {
    @include textos ($fontSm,1em,$keyColor);
    font-family: $fontfamily;   
           
}

.text-dark {
    color: #0c0c0c
}


body {
    background-color: $mainColor;
    background-repeat: no-repeat;
    background-size: auto;
    margin: 10px;
}


.titulo {
    color:  #0c0c0c;
    text-align: center;
    font-size: 25px;
    margin: .5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.titulo-categorias{
    color:  #0c0c0c;
    text-align: center;
    font-size: 20px;
    margin: .5rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;

}

.encabezado {
    text-align: center;
    color: $keyColor;
    padding-right: 5px;
    font-size: $fontLg;
    margin-top:.5rem;
    
}

.error-404 {
    background-color: white;
    width:100%;    
    justify-content:center;    
    display: flex;
}

.card  {

    width: 100%;
    margin-bottom: 50px;
}
