

    .img-harry {
        width: 500px;
    }
    .img-disfraz{
        width: 300px;
    }
    .titulo_desc {
        color: #fff;
        font-size: 1em;
        font-weight: bold;
        text-decoration: none;
    }

    