img .img-cat-inicio{    
    width:90%;
    justify-content: space-between;    
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-left: 40px;
    margin-bottom: 10px;
    }

    .img-harry {
        width: 500px;
    }
    .img-disfraz{
        width: 300px;
    }
    .titulo_desc {
        color: #fff;
        font-size: 1em;
        font-weight: bold;
        text-decoration: none;
    }

    .disfracesniños {
        border-top-left-radius: 5px;
    }