//colores
$mainColor:  #ba5da1; 
$secondaryColor: rgb(244, 179, 231);
$keyColor: rgb(15, 15, 15);

//fonts
$mainFont: 'Roboto', sans-serif;
$fontfamily: 'Henny Penny', cursive;



//sizies
$fontXXL: 4em;
$fontXL: 3em;
$fontLg: 2.3em;
$fontMd: 1.5em;
$fontSm: 1em;